.main{
    display: grid;
   
    padding: 10px;
    grid-area: 100%;
    width: 200px;
   height: 400px;
   
}
.colour1{
    margin: 2px;
    background-color: hsl(134, 76%, 53%);
  

}
.colour2{
    margin: 2px;
 
    background-color: rgb(138, 44, 226);

}

.colour3{
    margin: 2px;
    background-color: #8d6c25;

}
h1{
    text-align: center;
}